<div class="flex flex-col">
    <%= link_to "BACK", quests_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium w-fit" %>
    <br />
    THIS IS MY BRAG <br />
    - TODO <br />
    - DOING <br />
    - TODO
</div>
